@import './reset.css';
@import './nprogress.css';
@import './transition.css';
@import './font.css';

html,
body,
#app {
  height: 100%;
}

html {
  overflow-x: hidden;
}

html.grayScale {
  filter: grayScale(100%);
}

.n-card:hover {
  box-shadow: 0px 0px 8px 6px var(--un-shadow-color);
  cursor: pointer;
}

/* 定义从右向左消失的动画 */
@keyframes slideOut {
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* 背景色宽度从右向左减为0的动画 */
@keyframes bgColorWidthTransition {
  to {
    background-size: 0% 100%;
  }
}